.card{
    cursor: pointer;
    width: 100%;
    padding: var(--mantine-spacing-md);
    background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-6));


    @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
  }
}