.list {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--mantine-spacing-xxs);

    border-radius: var(--mantine-radius-md);


    /* Remove background logic */
    &[data-no-background="true"] {
        background: none;
        background-color: transparent;
    }
}